html {
    scroll-behavior: smooth;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  box-shadow: 2px 0 4px rgba(255, 255, 255, 0.1);
  z-index: 100;
}

nav a {
  color: #9b9b9b;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1rem;
  display: block;
  text-align: left;
  white-space: nowrap;
}

nav a:hover {
  color: #fff;
}

a {
  color: #9b9b9b;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
}

.main-container {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

.home-container {
  display: flex;
  max-height: 400px;
  gap: 2rem;
}

.left-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-div {
  flex: 1;
  display: flex;
  align-items: center;
}

.profile-picture {
  max-height: 200px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.home-text {
  width: 100%;
}

h1 {
    color: #fff;
    text-align: left;
    margin-top: 0;
}

h2 {
    color: #fff;
}

/* --- Project Section Styles --- */
.project-container {
  display: block;
}

.project-card {
  background-color: #333333;
  border: 1px solid #555;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.project-card h3 {
  margin-top: 0;
  color: #fff;
}

.project-card p {
  flex-grow: 1;
  color: #ccc;
}

/* --- Button Styles within a Project Card --- */
.project-card .button {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.project-card .button:hover {
  background-color: #777;
}