{% extends 'base.html' %}

{% block content%}
    <section id="home">
        <div class="home-container">
            <div class="left-div">
                <img 
                    src="{{ url_for('static', filename='images/profile.png') }}" 
                    class="profile-picture">
            </div>
            <div class="right-div">
                <div class="home-text">
                    <h1>Kai Zhou</h1>
                    <p>CS + Math @ Northwestern</p>
                    <p>👋 I love building, from the first spark of an idea to shaping it into something real and refining it for impact. My studies in computer science and mathematics help me approach problems with both creativity and precision, and I’m especially interested in applications across SWE, quantitative finance, and technology-driven consulting.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>I’m Kai Zhou, a student at Northwestern University studying computer science and mathematics. I’m drawn to problems that require both structure and creativity, which is why I focus on the intersection of technology and finance.
My professional interests include software engineering, quantitative development and trading, and management consulting, with a focus on AI implementation and risk management. I see these fields as opportunities to keep learning while building solutions that matter.
Outside of academics, I enjoy running, working out, playing squash, and solving puzzles.</p>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <div class="project-container">
        {% for project in projects %}
            <div class="project-card">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <p>Technologies: {{ project.technologies | join(', ') }}</p>
                <a href="{{ project.github_link }}" class="button" target="_blank" rel="noopener noreferrer">View Code</a>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}